transformers==4.25.1
torch==1.12.1+cpu -f https://download.pytorch.org/whl/torch_stable.html
torchvision==0.13.1+cpu -f https://download.pytorch.org/whl/torch_stable.html
torchaudio==0.12.1+cpu -f https://download.pytorch.org/whl/torch_stable.html
speechrecognition==3.8.1
gtts==2.2.4
python-dotenv==0.20.0
